# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
venv/

# Ignore environment variables file
.env

# VSCode settings
.vscode/

# Ignore stats json
user_stats.json